/*------------------------------------*\
  #NAVBAR
\*------------------------------------*/

#navbar h1 {
  float: none;
  text-align: center;
}

#navbar ul,
#navbar ul li {
  float: none;
}

#navbar ul li a {
  border-bottom: 1px solid #444;
  padding: 5px;
}

/*------------------------------------*\
  #SHOWCASE
\*------------------------------------*/
#showcase {
  height: 100%;
}

#showcase .showcase__content {
  padding-top: 70px;
  padding-bottom: 30px;
}

/*------------------------------------*\
  #HOME-INFO
\*------------------------------------*/
#home-info .info__img {
  display: none;
}

#home-info .info__content {
  float: none;
  width: 100%;
}

/*------------------------------------*\
  #BOXES
\*------------------------------------*/
.box {
  float: none;
  width: 100%;
}

/*------------------------------------*\
  #ABOUT
\*------------------------------------*/
#about-info .info__right,
#about-info .info__left {
  float: none;
  width: 100%;
}

#about-info .info__right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}

/*------------------------------------*\
  #CONTACT
\*------------------------------------*/
#contact-info .box {
  border-bottom: 1px solid #444;
}
